<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"
    />
    <title>Add Blog</title>
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <h1>Please fill in...</h1>
    <form method="post" action="" enctype="multipart/form-data">
      <input type="text" name="title" placeholder="Title" /><br />
      <input type="text" name="description" placeholder="Description" /><br />
      <textarea
        name="content"
        placeholder="Content"
        rows="10"
        cols="30"
      ></textarea
      ><br />
      <label>Thumbnail</label><input type="file" name="thumbnail" /><br />
      <input type="submit" value="Add blog" /><br />
    </form>
  </body>
</html>
