<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"
    />
    <title>Blogs</title>
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <h1>My blogs</h1>
    <% for(let i = 0; i < blogs.length; i++) { %>
    <article>
      <img src="<%= blogs[i].thumbnail %>" width="100px" height="100px" />
      <h2><%= blogs[i].title %></h2>
      <h3><%= blogs[i].description %></h3>
      <p><%= blogs[i].content %></p>
    </article>
    <hr />
    <% } %>
  </body>
</html>
